<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js - Form input binding</title>
    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Form Validation Demo</h1>
    <div id="app">
        <!-- @submit เป็นรูปย่อของ v-on:submit -->
        <form @submit.prevent="checkForm">
            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>

            </p>
            <p>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" v-model="name">
                <span v-if="errors.includes('Name required.')" class="error">Name is required.</span>
            </p>
            <p>
                <label for="age">Age</label>
                <input type="number" name="age" id="age" v-model="age" min="0">
                <span v-if="errors.includes('Age required.')" class="error">Age is required.</span>
            </p>
            <p>
                <input type="radio" value="MALE" v-model="gender">
                <label for="male">male</label>
                <input type="radio" value="FEMALE" v-model="gender">
                <label for="female">female</label><br>
                <span v-if="errors.includes('Gender required.')" class="error">Gender is required.</span>

            </p>
            <p>
                <label for="movie">Your favorite Movie</label>
                <select name="movie" id="movie" v-model="movie">
                    <option>Star Wars</option>
                    <option>Vanilla Sky</option>
                    <option>Atomic Blonde</option>
                </select>
                <span v-if="errors.includes('Favorite movie required.')" class="error">Favorite Movies is
                    required.</span>
            </p>
            <p>
                <!-- <button @click="checkForm">Submit</button> -->
                <input type="submit" value="Submit">
            </p>

        </form>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    errors: [],
                    name: null,
                    gender: null,
                    age: null,
                    movie: null
                }
            },
            methods: {
                checkForm(e) {
                    // alert(this.name + ", " + this.age + ", " + this.sex + ", " + this.movie)
                    // if (this.name && this.age) return true;
                    this.errors = [];
                    if (!this.name) this.errors.push("Name required.");
                    if (!this.age) this.errors.push("Age required.");
                    if (!this.gender) this.errors.push("Gender required.");
                    if (!this.movie) this.errors.push("Favorite movie required.");

                    // prevent form submission

                    // e.preventDefault();
                }
            }
        }).mount('#app');
    </script>
</body>

</html>